<table class="table table-responsive table-condensed">
    <thead>
    <tr>
        <th>Options</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>items</code></td>
        <td>List of items which should be displayed inside drop-down list.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>display-property</code></td>
        <td>Which property of item should be used for displaying item information inside drop-down list.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>value-property</code></td>
        <td>Which property of item should be used for binding into selected item list.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>ng-disabled</code></td>
        <td>Whether component should be disabled or not.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>placeholder-title</code></td>
        <td>Title placeholder.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>placeholder-search</code></td>
        <td>Search box place holder.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>maxlength</code></td>
        <td>Search box maximum length.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>separator</code></td>
        <td>Separator which should be used to separate selected items.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>auto-close</code></td>
        <td>Whether drop-down menu should be hidden when an item is selected.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>limit-item-amount</code></td>
        <td>Maximum number of items which can be selected.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>is-clear-button-available</code></td>
        <td>Whether clear button is available or not.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>is-search-box-available</code></td>
        <td>Whether search box is available or not.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>interval</code></td>
        <td>Amount of time that search box emits searching event after input has been entered.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>custom-item-template</code></td>
        <td>Whether custom item template is supported or not.</td>
        <td></td>
    </tr>
    <tr>
        <td><code>active-class</code></td>
        <td>Class which is used when item is selected.</td>
        <td></td>
    </tr>
    </tbody>
</table>
<!--<div ng-init="init()">-->
    <!--<form name="mainForm" novalidate>-->
        <!--<div class="col-lg-4">-->
            <!--<select class="form-control"-->
                    <!--ng-model="options.isSearchBoxAvailable"-->
                    <!--ng-options="item.value as item.title for item in [{title: 'True', value: true}, {title: 'False', value: false}]"></select>-->
        <!--</div>-->
    <!--<div class="col-lg-4">-->
        <!--<ng-multi-selector name="selector"-->
                           <!--items="items"-->
                           <!--display-property="'firstName'"-->
                           <!--placeholder-search="'Enter a first name to search.'"-->
                           <!--auto-close="false"-->
                           <!--is-clear-button-available="true"-->
                           <!--interval="500"-->
                           <!--ng-model="chosenItems"-->
                           <!--is-search-box-available="options.isSearchBoxAvailable"-->
                           <!--ng-search-items="search(keyword)"-->
                           <!--custom-item-template="true"-->

                           <!--required="required" >-->
            <!--<a>{{item.firstName}} - {{item.lastName}}</a>-->
        <!--</ng-multi-selector>-->
    <!--</div>-->

    <!--<div class="col-lg-4">-->
        <!--<ul>-->
            <!--<li ng-repeat="item in chosenItems">-->
                <!--{{item.id}} - {{item.firstName}} - {{item.lastName}}-->
            <!--</li>-->
            <!--<li>-->
                <!--{{mainForm.selector.$valid}}-->
            <!--</li>-->
        <!--</ul>-->
        <!--<button class="btn btn-primary"-->
                <!--ng-disabled="!mainForm.selector.$valid">Click me</button>-->
    <!--</div>-->
    <!--</form>-->
<!--</div>-->