<div ng-init="init()">

    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Control</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <ng-multi-selector ng-items-source="customers"
                                           ng-display-property="'email'"
                                           ng-key-property="'id'"
                                           ng-model="chosenCustomers"></ng-multi-selector>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!--Configuration-->
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span>Configuration</span>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-condensed">
                        <thead>
                        <tr>
                            <th>Property</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--Items-->
                        <tr>
                            <td>
                                <code>ng-items-source</code>
                            </td>
                            <td>
                                <span>customers</span>
                            </td>
                        </tr>
                        <!--Display property-->
                        <tr>
                            <td>
                                <code>ng-display-property</code>
                            </td>
                            <td>
                                <span>'email'</span>
                            </td>
                        </tr>
                        <!--ng-model-->
                        <tr>
                            <td>
                                <code>ng-model</code>
                            </td>
                            <td>
                                <span>chosenCustomers</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--Selected items-->
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span>Selected items</span>
                </div>
                <div class="box-body">
                    <ul ng-repeat="item in chosenCustomers">
                        <li>{{item | json}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>