<div ng-init="init()">
    <form name="mainForm" novalidate>
        <div class="col-lg-4">
            <select class="form-control"
                    ng-model="options.isSearchBoxAvailable"
                    ng-options="item.value as item.title for item in [{title: 'True', value: true}, {title: 'False', value: false}]"></select>
        </div>
    <div class="col-lg-4">
        <ng-multi-selector name="selector"
                           items="items"
                           display-property="'firstName'"
                           placeholder-search="'Enter a first name to search.'"
                           auto-close="false"
                           interval="500"
                           ng-model="chosenItems"
                           is-search-box-available="options.isSearchBoxAvailable"
                           ng-search-items="search(keyword)"

                           required="required" >
        </ng-multi-selector>
    </div>

    <div class="col-lg-4">
        <ul>
            <li ng-repeat="item in chosenItems">
                {{item.id}} - {{item.firstName}} - {{item.lastName}}
            </li>
            <li>
                {{mainForm.selector.$valid}}
            </li>
        </ul>
        <button class="btn btn-primary"
                ng-disabled="!mainForm.selector.$valid">Click me</button>
    </div>
    </form>
</div>